# Compiled class file
*.class

# Gradle Files #
.gradle/
build/

# IntelliJ Files #
.idea/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/auction-assignment/target/
/AuctionClient/nbproject/private/
/AuctionClient/dist/
/auctionClient2/nbproject/private/
/auctionClient2/dist/
/EncryptionAssig2/nbproject/private/
/EncryptionAssig2/dist/
/Encryption/nbproject/private/